/* Put your custom CSS here */

body { margin:0; padding:0; border:0 }

#headerlogo {
	display: block;
	width: 98%;
	height: 70px;
	padding: 3px;
	background: url(images/logo.png) no-repeat left #f6e12c
}

/* Player styles */

.ui-header .ui-title,
.ui-footer .ui-title,
.ui-btn-inner *
{
   white-space: normal !important;
}

#media-controls { width: 70px; margin: 0 auto }

#player-play,
#player-stop
{
   display: inline-block;
   width:70px;
   height:70px;
   margin-left: auto;
   margin-right: auto
}

#player-play
{
   background-image: url('images/play.png');
}

#player-stop
{
   background-image: url('images/stop.png');
   visibility: hidden
}

#time-slider
{
   display: none;
}

div.ui-slider-track
{
   margin: 0;
   width: 100%;
}