/* Put your custom CSS here */

body { margin:0; padding:0; border:0 }

#headerlogo {
	display: block;
	width: 98%;
	height: 70px;
	padding: 3px;
	background: url(images/logo.png) no-repeat left #f6e12c
}